html,
body {
  height: 100%;
}

body {
text-rendering: optimizeLegibility;
color: #6c6f73;
}

.blockquote {
  font-size: 1.6rem;
  color: #333;
  border: none;
  padding: 0;
}

.blockquote-footer {
  margin: 1rem 0 0;
}

#cover {
  background: #222 url('../Images/bg.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
}

#cover-caption h1 {
  font-weight: bold;
}

.feature-content h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

.feature-dark {
  background: #262f36;
  color: white;
}

.feature-alt {
  background: #f0f0f0;
}
@ screen and (min-width : 991px)  {
  .feature-content {
    display: flex;
    align-items: center;
  }
}

.section-content {
  padding: 10rem 0;
}

.feature-four.container {
  display: flex;
  align-items: center;
}