html,
body {
  height: 100%;
}

.navbar-nav {

}


#cover{
  background: #222 url('../Images/bg.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

.section-content {
  padding: 10rem 0;
}

#about{
  background: url("../Images/bg2.jpg") center top no-repeat;
  height: 100%;
  background-size: cover;
}

#aboutme .container{
  align-content: right;
}

.about-text {
  background: rgba(0,0,0,.8);
  color: white;
  padding: 1.875rem;
}